body {
	padding: 50px;
	font-family: 'Lato', sans-serif !important;
}
.title{
	font-size: 30px !important;
	font-weight: 900;
}
.subtitle{
	font-size: 25px !important;
	font-weight: 900;
}
a{
	color: #00B7FF;
}
input:focus{
	outline: none !important;
}
#game{
	height: 75vh;
	overflow: auto;
	background-color: #f2f2f2;
	border-radius: 10px;
}
#messages {
	height: 60vh;
	overflow: auto;
	margin-bottom: 1em;
	margin-right: 10px;
}
#messages div{
	background-color: #36CC5B;
	color: white;
	border-radius: 5px;
	padding: 5px;
	width: fit-content;
	margin: 0 0 5px 0;
}
#messages .text-chat{
	background-color: #3f87f3;
	color: white;
	border-radius: 5px;
	padding: 5px;
	width: fit-content;
	margin: 0 0 5px 0;
}
#messages .info-chat{
	background-color: #f2f2f2;
	color: black;
	border-radius: 5px;
	padding: 5px;
	width: fit-content;
	margin: 0 0 5px 0;
}
#send-form input{
	width: 60%;
}
#room-list {
	height: 60vh;
	overflow: auto;
}
#room-list div {
	  background-color: #f2f2f2;
	  border-radius: 5px;
	  padding: 5px 10px;
	  margin-bottom: 5px;
	  width: fit-content;
}
#room-list div:hover {
  	background-color: #ddd;
}
#send-message {
	border-radius: 5px !important;
	border: solid 1px transparent;
	padding: 5px;
}
#send-answer {
	border-radius: 5px !important;
	border: solid 1px transparent;
	padding: 5px;
	width: 78%;
}
#send-answer-button {
	background-color: #36CC5B;
	border-color: transparent;
	width: 20%;
}
.clients span{
	margin-right: 10px;
}
.fa-check-circle{
	color: #36CC5B;
}
.fa-times-circle{
	color: tomato;
}